<!DOCTYPE html>
<html lang="cs">

<head>
	<title>{$title}</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Keywords" content="ELEKTROINSTALACE, ELEKTRÁRNY, TEPELNÁ ČERPADLA">
	<meta name="Description" content="Společnost která se zabývá: Elektroinstalace, Elektrárny, Tepelná čerpadla">
	<meta name="Author" content="jan-kopriva.cz">
	<meta name="copyright" content="jan-kopriva.cz">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="index,follow,snippet,archive">
	<meta name="category" content="Elektrotechnika">
	<meta name="webmaster" content="All: jakub.stellner03@gmail.cz">
	<meta property="image" content="{$basePath}/design/images/ksenergy.png">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://ksenergy.jakubstellner.cz/">
	<meta property="og:title" content="Ušetřete za vaší energii.">
	<meta property="og:description" content="ELEKTROINSTALACE, ELEKTRÁRNY, TEPELNÁ ČERPADLA">
	<meta property="og:image" content="{$basePath}/design/images/ksenergy.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://ksenergy.jakubstellner.cz/">
	<meta property="twitter:title" content="Ušetřete za vaší energii.">
	<meta property="twitter:description" content="ELEKTROINSTALACE, ELEKTRÁRNY, TEPELNÁ ČERPADLA">
	<meta property="twitter:image" content="{$basePath}/design/images/ksenergy.png">

	<script src="{$basePath}/design/js/spotlight.bundle.js"></script>
	<!-- Style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{$basePath}/design/style/style.css">
		<link rel="icon" href="{$basePath}/design/images/flaticon.png">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
	<!-- Owl Carousel -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/design/owlcarousel/dist/assets/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/design/owlcarousel/dist/assets/owl.theme.default.min.css">

	<!-- LighGallery -->
	<link type="text/css" rel="stylesheet" href="{$basePath}/design/style/lightgallery.css" />

			<!-- Facebook Pixel Code -->
	{syntax double}
		<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window,document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		 fbq('init', '215800643372615');
		fbq('track', 'PageView');
		</script>			
			{{/syntax}}

		<noscript>
		 <img height="1" width="1"
		src="https://www.facebook.com/tr?id=215800643372615&ev=PageView
		&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->
</head>

<body>
    
	<div class="top__header">
		<div class="container">
			<div class="top__header--left">
				<div class="top__header--content">
					<div class="top__header--item">
						<div class="top__header--icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="14.347" height="16.76" viewBox="0 0 14.347 16.76">
							  <path id="Icon_awesome-phone-alt" data-name="Icon awesome-phone-alt" d="M13.938,11.843,10.8,10.272a.612.612,0,0,0-.785.226l-1.39,1.984a11.415,11.415,0,0,1-4.965-5.8l1.7-1.624a.872.872,0,0,0,.193-.917L4.206.475A.658.658,0,0,0,3.435.02L.521.806A.77.77,0,0,0,0,1.571a17.169,17.169,0,0,0,2.471,8.911A12.415,12.415,0,0,0,13,16.76a.7.7,0,0,0,.656-.609l.673-3.4A.835.835,0,0,0,13.938,11.843Z" transform="translate(0 0)"/>
							</svg>
						</div>
						<div class="top__header--text">
							<p><a href="tel:+420 775 141 355">Klientský servis: +420 775 141 355</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="top__header--right">
				<div class="top__header--content">
					<div class="top__header--item">
						<div class="top__header--icon">
							<svg id="Icon_ionic-ios-mail" data-name="Icon ionic-ios-mail" xmlns="http://www.w3.org/2000/svg" width="17.748" height="12.287" viewBox="0 0 17.748 12.287">
							  <path id="Path_3679" data-name="Path 3679" d="M20.978,10.34l-4.591,4.676a.082.082,0,0,0,0,.119L19.6,18.557a.554.554,0,0,1,0,.785.556.556,0,0,1-.785,0l-3.2-3.409a.088.088,0,0,0-.124,0l-.781.794a3.435,3.435,0,0,1-2.449,1.032,3.5,3.5,0,0,1-2.5-1.062l-.751-.764a.088.088,0,0,0-.124,0l-3.2,3.409a.556.556,0,0,1-.785,0,.554.554,0,0,1,0-.785l3.213-3.422a.091.091,0,0,0,0-.119L3.52,10.34a.084.084,0,0,0-.145.06v9.356A1.369,1.369,0,0,0,4.74,21.121H19.758a1.369,1.369,0,0,0,1.365-1.365V10.4A.085.085,0,0,0,20.978,10.34Z" transform="translate(-3.375 -8.834)" fill="#fff"/>
							  <path id="Path_3680" data-name="Path 3680" d="M12.584,15.687a2.319,2.319,0,0,0,1.668-.7l6.694-6.813a1.341,1.341,0,0,0-.845-.3H5.071a1.332,1.332,0,0,0-.845.3l6.694,6.813A2.32,2.32,0,0,0,12.584,15.687Z" transform="translate(-3.71 -7.875)" fill="#fff"/>
							</svg>
						</div>
						<div class="top__header--text">
							<p><a href="" title="email">Email: info@ksenergy.cz</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">
			  <a class="navbar-brand" href="/">
						<img src="{$basePath}/design/icons/logo.png" alt="logo">
				</a>
				<a class="navbar-brand-mobile" href="/">
						<img src="{$basePath}/design/icons/logo-mobile.png" alt="logo-mobile">
				</a>
				<button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
		<div><p class="menu-but">Menu</p></div>
    <div class="animated-icon1"><span></span><span></span><span></span></div>
  </button>
			  <div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
							<li class="nav-item dropdown">
							 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								 FVE s Ohřevem teplé vody
							 </a>
							 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

							 		{foreach $ohrev as $item}
									 	<a class="dropdown-item" href="{$basePath}/ohrev-teple-vody/{$item->name}">{$item->name_pretty}</a>
									{/foreach}

							 </div>
						 </li>
						 <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							FVE s	Akumulací do baterií
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								{foreach $baterie as $item}
									 	<a class="dropdown-item" href="{$basePath}/akumulace-do-baterii/{$item->name}">{$item->name_pretty}</a>
									{/foreach}
							</div>
							</li>
					<li class="nav-item">
							 <a class="nav-link" href="{plink MainPages:cerpadlo}">Tepelná čerpadla</a>
					</li>
				      <li class="nav-item">
				        <a class="nav-link" href="{plink Gallery:default}">Galerie</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="{plink Contact:default} ">Kontakt</a>
				      </li>
							<div class="mobile-contact">
								<div class="mobile-contact-content">
									<div class="mobile-contact-item">
										<div class="mobile-contact-icon">
											<svg id="Group_4152" data-name="Group 4152" xmlns="http://www.w3.org/2000/svg" width="17.011" height="27.297" viewBox="0 0 17.011 27.297">
											  <g id="Group_4042" data-name="Group 4042">
											    <path id="Path_3408" data-name="Path 3408" d="M1503.51,1668.891h-12.082a2.468,2.468,0,0,1-2.465-2.465V1644.06a2.468,2.468,0,0,1,2.465-2.466h12.082a2.468,2.468,0,0,1,2.465,2.466v22.366A2.468,2.468,0,0,1,1503.51,1668.891Zm-12.082-26.379a1.549,1.549,0,0,0-1.547,1.548v22.366a1.549,1.549,0,0,0,1.547,1.547h12.082a1.548,1.548,0,0,0,1.546-1.547V1644.06a1.548,1.548,0,0,0-1.546-1.548Z" transform="translate(-1488.964 -1641.594)" fill="#fcca03"/>
											  </g>
											  <g id="Group_4043" data-name="Group 4043" transform="translate(0 3.773)">
											    <path id="Path_3409" data-name="Path 3409" d="M1505.516,1666.093h-16.093a.458.458,0,0,1-.459-.459v-18.287a.459.459,0,0,1,.459-.459h16.093a.46.46,0,0,1,.46.459v18.287A.459.459,0,0,1,1505.516,1666.093Zm-15.634-.918h15.175v-17.369h-15.175Z" transform="translate(-1488.964 -1646.889)" fill="#fcca03"/>
											  </g>
											  <g id="Group_4044" data-name="Group 4044" transform="translate(6.566 1.901)">
											    <path id="Path_3410" data-name="Path 3410" d="M1501.6,1645.18h-2.962a.459.459,0,1,1,0-.918h2.962a.459.459,0,1,1,0,.918Z" transform="translate(-1498.177 -1644.262)" fill="#fcca03"/>
											  </g>
											  <g id="Group_4045" data-name="Group 4045" transform="translate(7.804 24.282)">
											    <path id="Path_3411" data-name="Path 3411" d="M1500.859,1676.585h-.485a.459.459,0,0,1,0-.918h.485a.459.459,0,1,1,0,.918Z" transform="translate(-1499.915 -1675.667)" fill="#fcca03"/>
											  </g>
											</svg>

										</div>
										<div class="mobile-contact-text">
											<p>
												<a href="" title="Phone">+420 775 141 355</a>
											</p>
										</div>
									</div>
									<div class="mobile-contact-item">
										<div class="mobile-contact-icon">
											<svg id="Group_4153" data-name="Group 4153" xmlns="http://www.w3.org/2000/svg" width="22.396" height="27.166" viewBox="0 0 22.396 27.166">
											  <g id="Group_4081" data-name="Group 4081">
											    <path id="Path_3436" data-name="Path 3436" d="M1412.437,1579.357a2,2,0,0,1-1.534-.715l-7.1-8.449a10.956,10.956,0,0,1,8.388-18h.486a10.955,10.955,0,0,1,8.388,18h0l-7.1,8.449A2,2,0,0,1,1412.437,1579.357Zm-.244-26.233a10.022,10.022,0,0,0-7.674,16.468l7.1,8.45a1.069,1.069,0,0,0,1.639,0l7.1-8.45h0a10.022,10.022,0,0,0-7.674-16.468Zm8.518,16.769h0Z" transform="translate(-1401.238 -1552.191)" fill="#fcca03"/>
											  </g>
											  <g id="Group_4082" data-name="Group 4082" transform="translate(4.61 4.367)">
											    <path id="Path_3437" data-name="Path 3437" d="M1414.195,1571.4a6.588,6.588,0,1,1,6.587-6.588A6.6,6.6,0,0,1,1414.195,1571.4Zm0-12.242a5.655,5.655,0,1,0,5.655,5.655A5.661,5.661,0,0,0,1414.195,1559.156Z" transform="translate(-1407.606 -1558.223)" fill="#fcca03"/>
											  </g>
											</svg>
										</div>
										<div class="mobile-contact-text">
											<p>
												Tichá 556, 742 74 Tichá
											</p>
										</div>
									</div>
							</div>
						</div>
			    </ul>
			  </div>
			</div>
			</nav>
	</header>