{block content}
    <div class="complete">
        <div class="container">
            <h1>Děkujeme za zaslaný formulář :)</h1>
            <p>Vámi zaslaný formulář jsme zaznamenali a v nejbližší době vás bude kontaktovat náš specialista.</p>
            <div class="pt-5">
                <a n:href="Homepage:default" class="yellow-button">Zpět na hlavní stránku</a>
            </div>
        </div>
    </div>  
{/block}