{block content}
    <div class="start-section">
        <div class="container">
            <h1>Nejnovější aktuality</h1>
        </div>
    </div>
    <div class="blog-section">
        <div class="container">
            <div class="blog__content pt-0">
                {foreach $blog as $item}
                    <div class="blog__item">
                        <div class="blog__item--heading">
                            <a href="{plink Blog:detail name => $item->heading_web}" title="">{$item->heading}</a>
                        </div>
                        <div class="blog__item--image">
                            <a href="{plink Blog:detail name => $item->heading_web}">
                                <img src="{$basePath}/content/blog/{$item->id}.{$item->extension}" alt="">
                            </a>
                        </div>
                        <div class="blog__item--date">
                            {$item->date|date:'%d.%m.%Y'}
                        </div>
                        <div class="blog__item--content">
                            {$item->content|truncate:260}
                        </div>
                    </div>
                {/foreach}
            </div>
        </div>
    </div>
    <section class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d41399.64523094601!2d18.182962978308048!3d49.56987503053696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zVGljaMOhIDU1NiwgNzQyIDc0IFRpY2jDoQ!5e0!3m2!1scs!2scz!4v1605391415609!5m2!1scs!2scz" height="380" width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</section>
{/block}